.container-fluid.py-5
	.row.bg-yellow.shadow.p-4.m-auto
		.col-2.col-md-1.border.border-dark.border-right-0.d-flex.align-items-center.justify-content-center
			=image_tag('form/error.png', class: 'icon m-1')
		.col-10.col-md-11.border.border-dark
			%h3.text-center Something Went Wrong (Error 500)
		.col-12.border.border-dark.border-bottom-0.d-flex.align-items-center.justify-content-center.p-5
			=image_tag('form/500.png', class: 'm-1')
		%small.d-block.border.border-dark.px-1.w-100 An internal error has occured. Please look the other way.