.container-fluid.py-5
	.row.bg-yellow.shadow.p-4.m-auto
		.col-2.col-md-1.border.border-dark.border-right-0.d-flex.align-items-center.justify-content-center
			=image_tag('form/error.png', class: 'icon m-1')
		.col-10.col-md-11.border.border-dark
			%h3.text-center Page Not Found (Error 404)
		.col-4.border.border-dark.border-right-0.d-flex.align-items-center.justify-content-center.p-5
			=image_tag('form/milk.png', class: 'm-1')
		.col-8.border.border-dark.px-3.py-2 The page you are looking for does not exist. Between you and me, let's just pretend this didn't happen.