// Colors
$c-red: #fd2020;
$c-dark-red: #a00202;
$c-yellow: #FDE74C;

//Fonts
$f-primary: 'Special Elite', serif;
$f-secondary: 'Creepster', cursive;

//Transitions
$t-ease: color .3s ease;

//Bootstrap overrides
$primary: $c-red !default;
$gray-900: #2A2222;
$gray-700: #564848;
$gray-300: #E7DFE0;

.text-gray-900 {
	color: $gray-900;
}

.text-gray-700 {
	color: $gray-700;
}

.bg-gray-300 {
	background-color: $gray-300;
}

.bg-gray-900 {
	background-color: $gray-900;
}
