// Colors
$c-red: #fd2020;
$c-dark-red: #a00202;

//Fonts
$f-primary: 'Special Elite', serif;
$f-secondary: 'Creepster', cursive;

//Transitions
$t-ease: color .3s ease;

//Bootstrap overrides
$primary: $c-red !default;
$gray-900: #2A2222;
$gray-700: #564848;
$gray-300: #E7DFE0;