@import "_variables";

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	background-color: $gray-300;
	color: $gray-900;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
}

nav, footer {
	background: $gray-900;
}

nav {
	a {
		color: white;
		&:hover, &:focus {
			color: $c-red;
			transition: $t-ease;
		}
	}
}

footer {
	color: $gray-700;
	font-size: 1rem;
	padding: 1rem;
	text-orientation: text-center;
	margin-top: auto;
	a {
		color: $gray-700;
	}
}