.cereal-img {
	padding-top: 1rem;
	padding-bottom: 2rem;
	a {
		display: block;
	}
}

.icon {
	height: 2.5rem;
	margin-top: -0.5rem;
}

.slider {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	img {
		margin-right: .25rem;
		margin-left: .25rem;
	}
}

.svg {
	height: 5rem;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
	.svg {
		height: 6rem;
	}
}