@import "_variables";

.cereal-img {
	img {
		transform: scale(.95) translateY(-.6rem);
		transition: .3s all ease;
	}
}

.cereal-img:hover {
	img {
		transform: translateY(-1rem) scale(1) rotate(-2deg);
		transition: .3s all ease;
		z-index: 1000;
	}
}

.icon {
	height: 2.5rem;
}

.label {
	left: 50%;
	bottom: 0;
	max-width: 15rem;
	transform: translateX(-50%);
	font-family: 'Lato';
	font-size: 1.2rem;
	.bg-white {
		min-height: 4.1rem;
		min-width: 9rem;
	}
}

.price {
	font-weight: 900;
}

.rotate {
	transform: rotate(1.5deg);
}

.rotate-neg {
	transform: rotate(-1.5deg);
}

.shelf {
	// background-image: linear-gradient(#313131 0%, #615f5f 57%, #4e4e4e);
	background-image: linear-gradient(#2384F7, #0a2846);
	height: 3rem;
	bottom: 1rem;
}

.svg {
	height: 5rem;
}

.shadow {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important
}

.shadow.shadow-hover {
	transition: .3s all ease;
	&:hover {
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.75) !important;
		border-radius: 0 0 4rem 0;
		transform: rotate(2deg);
		transition: .2s all ease;
		&:before {
			content: "";
			position: absolute;
			animation-duration: .2s;
			animation-delay: .05s;
			animation-name: cornerlift;
			animation-fill-mode: forwards;
		}
	}
	a:hover {
		color: $gray-900;
	}
}

@keyframes cornerlift {
	from {
		width: 0;
		height: 0
	}
	to {
		bottom: 5px;
		right: 3px;
		box-shadow: inset 3px 3px 15px rgba(0,0,0,0.15);
		border-radius: 0 0 4rem 0;
		width: 2rem;
		height: 2rem;
	}
}

.slick-arrow {
	cursor: pointer;
	font-size: 4rem;
	position: absolute;
	bottom: -6rem;
	transition: .3s all ease;
	&:hover {
		opacity: .5;
		transition: .3s all ease;
	}
	&.fa-angle-right {
		right: 1rem;
	}
	&.fa-angle-left {
		right: 4rem;
	}
}

.overlap {
	transform: translateX(0.25rem);
	z-index: 2;
}

@media screen and (min-width: 780px) {
	.overlap {
		transform: translateX(1rem);
	}
}

@media screen and (min-width: 1024px) {
	.svg {
		height: 6rem;
	}
}