@import 'variables';

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 25rem;
  height: 5rem;
  overflow: hidden;
  position: relative;
  background: image-url('butcher_blank.svg');
  background-size: contain;
    i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: image-url('butcher.svg');
    background-size: contain;
  }
  input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
    &:hover + i,
    &:checked + i {
      opacity: 1;
    }
  }
  i ~ i {
    width: 40%;
  }
  i ~ i ~ i {
    width: 60%;
  }
  i ~ i ~ i ~ i {
    width: 80%;
  }
  i ~ i ~ i ~ i ~ i {
    width: 100%;
  }
}

::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.reviews {
  border-bottom: 0.1rem solid $c-gray;
  padding-top: 2rem;
  padding-bottom: 2rem;
  span {
    color: $c-gray;
  }
  .btn {
    margin-right: 1rem;
  }
  .comment {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 64.062em) {
  .reviews {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

}