@import "_variables";

.reviews {
  padding-top: 2rem;
  padding-bottom: 2rem;
  span {
    color: $gray-300;
  }
  .btn {
    margin-right: 1rem;
  }
  .comment {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 64.062em) {
  .reviews {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}