@import "_variables";

body {
	font-family: $f-primary;
	font-size: 1.6rem;
	line-height: 1.5;
}

h1, h2 {
	font-family: $f-secondary;
	margin-top: 2rem;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4.5rem;
}

h3 {
	margin-top: 0.5rem;
	a {
		color: black;
	}
}

p {
	white-space: pre-wrap;
}

a {
	color: $c-dark-red;
	&.btn {
		font-size: 1.6rem;
	}
	&:hover, &:focus {
		color: $c-red;
		text-decoration: none;
		transition: $t-ease;
	}
}

@media screen and (min-width: 1024px) {
	h1, h2 {
		letter-spacing: .2rem;
	}
	h1 {
		font-size: 6.5rem;
	}
	h2 {
		font-size: 5rem;
	}
	h3 {
		font-size: 2.5rem;
	}
}