.container-fluid
	.row.bg-yellow.shadow.p-4.m-5
		.col-2.col-md-1.border.border-dark.border-right-0.d-flex.align-items-center.justify-content-center
			=image_tag('form/browser.png', class: 'icon m-1')
		.col-10.col-md-11.border.border-dark
			%h3.text-center Photo Upload Form for #{@product.name}
		= render "form"