.container-fluid.py-5.bg-cork.h-100
	.row.bg-yellow.shadow.p-4.m-auto
		.col-2.col-md-1.border.border-dark.border-right-0.d-flex.align-items-center.justify-content-center
			=image_tag('form/review.png', class: 'icon m-1')
		.col-10.col-md-11.border.border-dark
			%h3.text-center	#{@product.name} Incident Report Form
		= render 'form'